<div id="users"></div>

<script type="text/javascript">
  $(function() {
  window.router = new Maru.Routers.UsersRouter({users: <%= @users.to_json.html_safe -%>});
  Backbone.history.start();
  });
</script>

<div class="loader-container">
  <div class="container" id="top-container">
    <div id="full-page-wrapper" class="row-offcanvas row-offcanvas-left">
      <div id="overlay"></div>
      <div class="col-sm-8 main-content-wrapper">
        <div class="sub-container top-header">
          <div class="showLeftPush" data-toggle="offcanvas">
            <div class="open-left-menu"><i class="fa fa-bars"></i></div>
            <div class="combined-notifications-count"></div>
          </div>
          <div class="header-title"></div>
        </div>
          <div id="main-content-area"></div>
          <div class="clear"></div>
          <div class="flash-message success-message alert alert-success"><span></span></div>
          <div class="flash-message error-message alert alert-danger"><span></span></div>
          <div class="flash-message notice-message alert alert-warning"><span></span></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>