<div class='container'>
	<h2>QA Test V-1</h2>
	<p>
	  The time is now: <%= Time.now %>
	</p>

	<p><a href='https://s3.amazonaws.com/uploads.hipchat.com/16269/65186/X3UmT7sjlHoJwl6/QATester_Spec.pdf'>Project Specification (PDF)</a></p>
	<p><a href='https://s3.amazonaws.com/access_resources/production/email_img/QA_BugReport_UserTemplate.docx'>Download QA Test Bug Log Template (Word Doc)</a></p>

	<h3>INSTRUCTIONS</h3>
		<ol>
        	<li>Download the Project Specification PDF (link above)</li>
        	<li>Download the QA Test Bug Log Template Word Doc (link above)</li>
        	<li>Click the Start Test button to reset the data and begin the test</li>
        	<li>Open the QA Test Bug Log Template Word Doc and use the example provided as a template</li>
        	<li>Use the app 2-page live project</li>
        	<li>Document any variances between the specification and the live project in the QA Test Sheet</li>
        	<li>When completed, submit your finished QA Test Bug Log to the party who assigned you to this test</li>
        	<li>NOTE: For this test, the specification notes are the first place to look, for areas not specified, the wireframe itself is then the model to follow</li>
		</ol>
	<br>
	<h3><a href="/users#/index">Start Test</a></h3>
</div>