<h1>Edit user</h1>

<form id="edit-user" name="user">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="points"> points:</label>
    <input type="text" name="points" id="points" value="<%= points %>" >
  </div>
  
  <div class="field">
    <label for="side"> side:</label>
    <input type="text" name="side" id="side" value="<%= side %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update User" />
  </div>

</form>

<a href="#/index">Back</a>