<h1>User List<a href="#new">+</a></h1>
<table>
  <tbody>
    <tr>
     <th>ID</th>
     <th>Name</th>
     <th>Points</th>
     <th>Side</th>
     <th></th>
     <th></th>
    </tr>
  </tbody>
</table>

