<!-- <div class="sub-container top-header green" style="max-width: 800px; text-align: center; display: block;">
  <div class="header-title most-characters">&#60;Add|Edit&#62; User</div>
</div> -->
<h1 class="header-title most-characters">&#60;Add|Edit&#62; User</h1> <!-- Bug #001 -->
<form id="new-user" name="user">
  <p>ID: ###</p>
  <div class="field">
    <label for="name"> Name:</label>
    <input type="text" name="name" id="name" >
  </div>

  <div class="field">
    <label for="side"> Side:</label>
    <select  name="side" id="side">
      <option value="">--select--</option>
      <option value="Rebellion">Rebellion</option>
      <option value="Empire">Empire</option>
      <option value="Independent">Independent</option>
    </select>
  </div>

  <div class="field">
    
  </div>

  <div class="actions">
    <label for="points"> Points:</label>
    <input type="text" name="points" id="points" length="10" />
    <a href="#index">Cancel</a>
    <input type="submit" value="Create User" length="10" />
  </div>

</form>

