<td style="text-align: center;"><%%= this.model.get('id') %></td>
<td><a href="#/<%%= this.model.get('id') %>/edit"><%%= this.model.get('name') %></a></td>
<td style="text-align: center;"><%%= this.model.get('points') %></td>
<td style="text-align: center;"><%%= this.model.get('side') %></td>
<td style="text-align: center;"><img src="<%= image_path('delete.png') %>" class='destroy'></td>

